@page "/"

@using MudBlazor

<PageTitle>Home</PageTitle>


<MudButton @onclick="getWeather" Variant="Variant.Filled" Color="Color.Primary">get</MudButton>
<p>@errorMessage</p>
@code
{
    private string? errorMessage;
    private async Task getWeather()
    {
        try
        {
            string apiKey = "d44e84653bedfb2f9682a4874783732d";
            string url = $"https://api.openweathermap.org/data/2.5/weather?q=vellore&appid={apiKey}&units=metric";
            var http = new HttpClient();
            var result = await http.GetFromJsonAsync<WeatherResponse>(url);
            Console.WriteLine(result);
        }
        catch
        {
            errorMessage = "City not found or API error.";
        }
    }
    


    public class WeatherResponse
    {
        public string? Name { get; set; }
        public MainInfo? Main { get; set; }
        public List<WeatherInfo>? Weather { get; set; }
    }

    public class MainInfo
    {
        public float Temp { get; set; }

        public int Humidity { get; set; }
    }

    public class WeatherInfo
    {
        public string? Main { get; set; }
        public string? Description { get; set; }
    }
}